[build-system]
requires = ["setuptools", "cython==0.29.30", "numpy"]
build-backend = "setuptools.build_meta"

[project]
name = "halo-reader"
dynamic = ["version"]
authors = [
  { name="Niko Leskinen", email="niko.leskinen@fmi.fi" },
]
requires-python = ">=3.10"
readme = "README.md"
license = { file="LICENSE" }
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "License :: OSI Approved :: MIT License",
    "Intended Audience :: Science/Research",
    "Operating System :: OS Independent",
]

dependencies = [
  "cython",
  "numpy",
  "lark",
  "netCDF4",
]

[project.optional-dependencies]
dev = [
  "mypy",
  "pytest",
  "black",
  "flake8",
  "autoflake",
  "isort",
  "pre-commit",
  "requests"
]

[project.scripts]
halodump = "halo_reader.cli:halo_dump"
halo2nc = "halo_reader.cli:halo2nc"

[tool.setuptools.packages.find]
where = ["src"]
[tool.setuptools.dynamic]
version = {attr = "halo_reader.__version__"}

[tool.pytest.ini_options]
testpaths = [
    "tests",
]

[tool.mypy]
mypy_path = "stubs/"
check_untyped_defs = true
disallow_untyped_defs = true
disallow_any_unimported = true
no_implicit_optional = true
show_error_codes = true
warn_return_any = true
warn_unused_ignores = true

[tool.black]
line-length = 79
target-version = ['py310']
